//.App {
//  background-color: #282c34;
//  color: white;
//  height: 100vh;
//}

.filter-drop-shadow {
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

// collapsible cards util
.card-header .fa {
  transition: .3s transform ease-in-out;
}
.card-header .collapsed .fa {
  transform: rotate(-90deg);
}